.u-works-index__title {
  font-family: var(--font-body);
  font-size: clamp(3rem, 8vw, 7rem);
  letter-spacing: -.09em;
  padding-block: clamp(3rem, 8vw, 7rem) 0;
}

.u-works-index__category {
  margin-block-start: clamp(4rem, 9vw, 8rem);
}

.u-works-index__category:first-of-type {
  margin-block-start: clamp(3rem, 8vw, 5rem);
}

.u-works-index__category-header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-block-end: 1.25rem;
  padding-block-end: .75rem;
  border-block-end: 1px solid var(--ink);
}

.u-works-index__category-title {
  font-size: clamp(1.25rem, 2.5vw, 2rem);
}
